.controlpanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: rgba(var(--background-rgb), 0.9);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.8rem;
    padding-top: 42px;
    z-index: 3;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff !important;
    z-index: 1 !important;
    -webkit-user-drag: none !important;
}

.map-edit-mode {
    animation: edit-begin .3s;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    border-top-right-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.map-marker {
    color: white;
    text-align: center;
    text-shadow: 
        0px 0px 3px rgba(0, 0, 0, 1);
    font-size: 14pt !important;
}

@keyframes edit-begin {
    0% {
        transform: translateY(50px);
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

.sidebar {
    position: absolute;
    height: auto;
    bottom: 0.5rem;
    top: 7rem;
    right: .5rem;
    min-width: 40rem;

    background-color: rgba(var(--background-rgb), 0.85);
    backdrop-filter: blur(20px);
    outline: 3px solid rgb(var(--background-rgb));
    border-radius: 12px;
    z-index: 30;

    overflow-y: auto;
}