.controlpanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: rgba(var(--background-rgb), 0.9);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.8rem;
    padding-top: 42px;
    z-index: 3;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff !important;
    z-index: 1 !important;
}