@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgb));
  user-select: none;
}

.trans {
  background-color: red !important;
}

.titlebar {
  height: 30px;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.titlebar-transparent {
  background: transparent !important;
  backdrop-filter: none !important;
}

.titlebar-button {
  color: rgba(var(--foreground-rgb));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: .3rem;
  margin-left: .35rem;
  border-radius: 8px;
  transition: .2s ease;
}

.titlebar-button:hover {
  background-color: rgba(var(--background), 1) !important;
}

.titlebar-credit {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  z-index: 990999;
  cursor: default;
  gap: 0.5rem;
  align-items: center;
}

.titlebar-credit .text {
  color: gray !important;
}

.button {
  background-color: rgba(var(--foreground-rgb), 0.3);
  padding: .1rem;
  border-radius: 12px;
}

.author {
  cursor: default;
  color: gray !important;
}